header {
  background-color: gray;
  padding: 20px 0;
}
.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}
nav {
  position: absolute;
  top: 110px;
  right: 0px;
}
nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}
nav a:hover {
  color: rgb(209, 146, 69);
  text-decoration: underline;
}
.produtos {
  width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
}
.produtos li {
  border-radius: 8%;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  text-align: center;
  display: inline-block;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
}
.produtos li:hover {
    border-color: rgb(209, 146, 69);
}
.produtos li:hover h2{
    font-size: 35px;
}

.produto li :active{
    border-color: green;
}
.produtos h2 {
  font-size: 30px;
  font-weight: bolder;
}

.pro-descricao {
  font-size: 18px;
}
.pro-preco {
  font-size: 20px;
  font-weight: bolder;
  margin: 10px 0 0;
}
footer{
    background: url("bg.jpg");
    text-align: center;
    padding: 40px 0 0;   
}
.copyr{
    color: aliceblue;
    font-size: 13px;
    margin: 20px 0 0;
}
